<footer>
    <div class="container">
        <div class="footer-grid">
            <div class="footer-column">
                <h3><a href="index.html" class="footer-brand">POMWARE</a></h3>
                <p>Innovative IT solutions for the digital age. We transform complex challenges into elegant technological solutions.</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>Services</h3>
                <ul class="footer-links">
                    <li><a href="software-development.html">Software Development</a></li>
                    <li><a href="index.html#services.html">Hardware Solutions</a></li>
                    <li><a href="hardware-solutions.html">IoT Development</a></li>
                    <li><a href="cloud-solutions.html">Cloud Solutions</a></li>
                    <li><a href="digital-marketing.html">Digital Marketing</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Company</h3>
                <ul class="footer-links">
                    <li><a href="about.html">About Us</a></li>
                    <!-- <li><a href="#">Case Studies</a></li> -->
                    <li><a href="careers.html">Careers</a></li>
                    <!-- <li><a href="#">Blog</a></li> -->
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <!-- <div class="footer-column">
                <h3>Contact</h3>
                <ul class="footer-links">
                    <li><i class="fas fa-map-marker-alt"></i>Aglantzia, Nicosia</li>
                    <li><i class="fas fa-phone"></i>+30 69 222481</li>
                    <li><i class="fas fa-envelope"></i> info@pomwareltd.com</li>
                </ul>
            </div> -->
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 POMWARE INNOVATIVE SOLUTIONS. All rights reserved.</p>
        </div>
    </div>
</footer>